<% content_for :header do %>
  <%= stylesheet_link_tag "search.css" %>
<% end %>

<% content_for :top do %>
<div class="logo">
<%= image_tag "cecil.png" %>
</div>
  <%= render "search_bar" %>
<% end %>

<%= render "online_now" %>
