div.content div.top_area{
  text-align:center;
  font-size: 20px;
  padding: 10px;
  color: #9b9b9b;
}

div.content div.top_area a{
  color: #000000;
  text-decoration: none;
}

div.entry_list{
position:relative;
}

div.entry_list a{
  color: #000000;
  text-decoration: none;
}

div.entry{
  width:100%;
  float:left;
  text-align:left;
  padding-top:5px;
  padding-bottom:5px;
  background-color: #FFFFFF;

  border-bottom-style:solid;
  border-bottom-width:1px;
  border-bottom-color:#DDDDDD;
}

div.entry_name{
  padding-left:25px;
  float:left;
}

div.entry_ip{
  float:right;
  width:175px;
  text-align:left;
}

div.entry_date{
  float:right;
  width:150px;
  text-align:right;
  padding-right:25px;
}

div.entry_size{
  float:right;
  width:100px;
}
