div.content div.top_area{
  height: 50px;
  text-align:center;
  font-weight: 20px;
}

div.browse_server_list{
  margin-left:50px;
  width:700px;
  text-align:left;
}

div.browse_server{
  height: 30px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD; 
  padding-top:10px;
}

div.browse_server_name{
  width:445px;
  float:right;
}

div.browse_server_ip{
  width:145px;
  float:right;
}

div.browse_server_size{
  width:75px;
  padding-right: 25px;
  float:right;
  text-align: right;
}
