div.top_spacer{
  height:147px;
}

div.top{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #FFFFFF;
  padding:0px;
}

div.search_box{
  height:70px;
  width:100%;
  padding-bottom:20px;
}

input.search_text{
  position: absolute;
  margin-left: -250px;
  font-size: 20px;
  top: 60px; 
  left: 50%;
  width: 500px;
  height: 25px;
}

div.content{
  position:absolute;
  width: 100%;
}

div.result_entry{
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  padding-top:15px;
}

div.result_entry_left{
  display:table-cell;
  min-width:600px
}

div.result_entry_right{
  display:table-cell;
  min-width:250px;
  vertical-align:top;
}

div.result_entry_middle{
  display:table-cell;
  width:100%
}

div.result_entry_relevance{
  float: left;
  width: 75px;
  padding-left: 25px;
}

div.result_entry_name{
  float: left;
  width: 600px;
  padding-left: 25px;
}

div.result_entry_path{
  float: left;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:25px;
  text-align:left;
  color: #888888;
}

div.result_entry_path a{
  color: #888888;
  text-decoration:none;
}

div.result_entry_size{
  float:right;
  width: 100px;
}

div.result_entry_date{
  float:right;
  width: 125px;
}

div.options{
  position:absolute;
  left:50%;
  bottom:0px;
  width:400px;
  padding-top:5px;
  margin-left:-200px;
  text-align:center;
  background-color: #D8D8FF;
  
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-color: #000000;
  border-style: solid;
  border-width: 1px;
  border-bottom-width: 0px;
}

div.options a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

div.message_box {
  border-radius:0px;
  margin-top: 5px;
  border-top-width:0px;
  border-color:#000000;
}

div.message_box a{
  text-decoration: none;
  color: #000000;
}

div.filter_box{
  width: 400px;
  height: 135px;
}

div.filter_box div.content div.label{
  float:left;
  width: 50%;
  text-align:center;
  padding-bottom:3px;
}

div.filter_box div.content div.full_label{
  float:left;
  width: 100%;
  text-align:center;
}

div.sort_box{
/*  width: 225px;*/
  width:400px;
  height: 100px;
}

div.sort_box div.content div.label{
  float:left;
  width: 45%%;
  text-align:right;
}

div.sort_box div.content div.choice{
  float:left;
  width: 25%;
  text-align:center;
}

