div.search_box{
  height:30px;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}

input.search_text{
  position: absolute;
  margin-left: -250px;
  font-size: 20px;
  left: 50%;
  width: 500px;
  height: 25px;
  /*color: #e0e0e2;*/
}

div.search_text_background{
  display:none;
}

div.result_entry{
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  padding-top:5px;
  font-size: 16px;
}

div.result_entry_left{
  display:table-cell;
  min-width:550px
}

div.result_entry_right{
  display:table-cell;
  min-width:250px;
  vertical-align:top;
}

div.result_entry_middle{
  display:table-cell;
  width:100%
}

div.result_entry_relevance{
  float: left;
  width: 75px;
  padding-left: 25px;
}

div.result_entry_name{
  float: left;
  width: 550px;
  padding-left: 25px;
}

div.result_entry_path{
  float: left;
  width:100%;
  padding-left:25px;
  text-align:left;
  color: #888888;
}

div.result_entry_path a{
  color: #888888;
  text-decoration:none;
}

div.bar div.result_entry_size{
  padding-top: 0px;
}
div.result_entry_size{
  float:right;
  width: 100px;
  padding-top: 10px;
}

div.bar div.result_entry_date{
  padding-top: 0px;
}
div.result_entry_date{
  float:right;
  width: 125px;
  padding-top: 10px;
  padding-right:25px;
}

div.options a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

div.filter_box div.content div.label{
  float:left;
  width: 50%;
  text-align:center;
  padding-bottom:3px;
}

div.filter_box div.content div.full_label{
  float:left;
  width: 100%;
  text-align:center;
}

div.sort_box div.content div.label{
  float:left;
  width: 45%%;
  text-align:right;
}

div.sort_box div.content div.choice{
  float:left;
  width: 25%;
  text-align:center;
}

