div.top_spacer{
  height:122px;
}

div.top{
  border-bottom-style: solid;
  border-bottom-width: 1px;
  background-color: #FFFFFF;
}

div.search_box{
  height:70px;
  width:100%;
}

input.search_text{
  position: absolute;
  margin-left: -250px;
  font-size: 20px;
  top: 60px; 
  left: 50%;
  width: 500px;
  height: 25px;
}

div.content{
  position:absolute;
  width: 100%;
}

div.result_entry{
  width: 100%;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DDDDDD;
  padding-top:15px;
}

div.result_entry_left{
  display:table-cell;
  min-width:600px
}

div.result_entry_right{
  display:table-cell;
  min-width:250px;
  vertical-align:top;
}

div.result_entry_middle{
  display:table-cell;
  width:100%
}

div.result_entry_relevance{
  float: left;
  width: 75px;
  padding-left: 25px;
}

div.result_entry_name{
  float: left;
  width: 600px;
  padding-left: 25px;
}

div.result_entry_path{
  float: left;
  width:100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left:25px;
  text-align:left;
  color: #888888;
}

div.result_entry_path a{
  color: #888888;
  text-decoration:none;
}

div.result_entry_size{
  float:right;
  width: 100px;
}

div.result_entry_date{
  float:right;
  width: 125px;
}
